
<section class="dashboard">
  <div class="column left">
    <h2>Resumo de Vendas</h2>

    <div class="graph daily_sales">
      <%= image_tag 'consultor/graphs/consultor_graph1.png' %>
    </div>
    <div class="intel_evaluation">
      Vendas estáveis em todos os clientes.
    </div>
  </div>

  <div class="column right">
    <h2>Portfólio de clientes</h2>

    <div class="graph clients_abc">
      <%= image_tag 'consultor/graphs/consultor_graph2.png' %>
    </div>
    <div class="intel_evaluation">
      Todos os clientes são igualmente importantes para seu portfólio.
    </div>
  </div>
</section>

<section class="dashboard">
  <div class="column left">
    <h2>Qualidade do serviço</h2>

    <div class="graph weekly_sales">
      <%= image_tag 'consultor/graphs/consultor_graph3.png' %>
    </div>
    <div class="intel_evaluation">
      Ponto Frio e Casas Bahia precisam melhorar a qualidade do serviço.
    </div>
  </div>

  <div class="column right">
    <h2>Experimentos</h2>

    <div class="graph weekly_sales">
      <%= image_tag 'consultor/graphs/consultor_graph4.png' %>
    </div>
    <div class="intel_evaluation">
      Experimentos com Casas Bahia e Ponto Frio não estão funcionando.
    </div>
  </div>
</section>

<section class="intel">

  <h2>Inteligência</h2>


  <div class="intel_evaluations">
    <div class="intel_evaluation">
      <span class="identifier">
        <span class="store_name">Submarino</span>
      </span>
      O produto mais vendido nas últimas 2 semanas vai ficar em falta no estoque
      em 5 dias.
    </div>
    <div class="intel_evaluation">
      <span class="identifier">
        <span class="store_name">Ponto Frio</span>
      </span>
      O número de reclamações e problemas na última semana aumentou 37% em
      relação à semana passada.
    </div>
    <div class="intel_evaluation">
      <span class="identifier">
        <span class="store_name">Ponto Frio</span>
      </span>
      O experimento com a promoção Mais Sol não parece estar surtindo
      efeitos.
    </div>
    <div class="intel_evaluation">
      <span class="identifier">
        <span class="store_name">Geral</span>
      </span>
      Todos os clientes tiveram um pico de vendas antes do Natal e normalizaram
      as vendas após 10 dias.
    </div>
    <div class="intel_evaluation">
      <span class="identifier">
        <span class="store_name">Casas Bahia</span>
      </span>
      Requer mais atenção. Suas vendas vem caindo constantemente nos últimos
      120 dias.
    </div>
  </div>

</section>
