<form>
  <div class="input">
    <label>Descrição</label>
    <textarea></textarea>
  </div>
  <div class="input">
    <label>Quantia</label>
    <input value="R$ 14,14"/>
  </div>
  <div class="input">
    <label>Data de pagamento</label>
    <input />
  </div>
  <input type="submit" value="Enviar" /> ou
  <% # TODO This javascript code shouldn't be here %> 
  <% # TODO an attr like 'data-redirect="back"' with a %> 
  <% # TODO non-obstrusive javascript binding its click event %> 
  <%= link_to "cancelar", "javascript: history.back()" %>
</form>
