<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: admin_customers_path
           } %>

<header>
  <h1>Alterar conta a receber</h1>
</header>

<div class="main_container">

  <div class="form">
    <%= render 'form' %>
  </div>

</div>
