<% @customer_receivable = true %>
<% back_to = admin_financial_receivables_path %>
<% back_to = admin_customer_path(1) if @customer_receivable %>

<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: back_to
           } %>

<header>
  <% if @customer_receivable %>
    <h1>Contas a receber de John Etc</h1>
  <% else %>
    <h1>Contas a receber</h1>
  <% end %>
</header>

<div class="main_container">
  <table class="listing">
    <thead>
      <tr>
        <th>Data da dívida</th>
        <th>Pagamento em</th>
        <th>Valor</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    <% 7.times do |t| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td>14/04/2011</td>
        <td>14/14/2014</td>
        <td>R$ 387,00</td>
        <td>Pago</td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br />

  <%= small_button new_admin_customer_receivable_path(1), :text => "Nova dívida", :image => 'admin/icons/plus_16.png' %>
</div>
