<%= render partial: "layouts/admin/nav_history",
           locals: {
             back_to: admin_root_path,
             text: t(".previous_page_navigation")
           } %>

<header>
   <h1>Marketing</h1>
</header>

<div class="main_container">
  <%= link_to t(".manage_pages"), admin_pages_path, title: "manage_pages" %>
  <br />
  <%= link_to t(".themes"), admin_store_themes_path, title: "themes" %>
</div>

