<%= view_header %>

<header>
  <h1>Loja</h1>
</header>

<div class="main_container">
  <div class="search_existent_item">
    <div class="input">
      <h1>Digite o nome de um item para gerencia-lo</h1>

      <input type="text" id="search_items" class="search" data-path="<%= admin_inventory_search_path %>" />

      <span class="hint">
        Gerencie preço de venda, visibilidade, categorias, entre outros.
      </span>
    </div>

    <div class="search_results">

    </div>
  </div>
</div>
<div class="main_container section">
  <h2>Últimos produtos</h2>

  <div class="thumbs_gallery">
    <% 5.times do %>
      <% 5.times do |t| %>
        <% t += 1 %>
        <div class="box image">
          <%= image_tag "store/temp/product_#{t}_170x127.jpg", width: 60 %>
        </div>
      <% end %>
    <% end %>
    <%= link_to admin_store_dashboard_path do %>
      <div class="box add">
      </div>
    <% end %>
  </div>
</div>

<div class="main_container">
</div>
