<% content_for :title, "Preços" %>
<%= render "marketing/shared/header" %>

<div class="no_merchan"></div>

<section class="main full_colored pre_main intro">
  <div class="main_container">
    <p>
      Construa um negócio sólido com o Aust. Confira os preços abaixo.
    </p>
  </div>
</section>

<section class="main">
  <div class="main_container">
    <h1>Preços</h1>
    <p>
      Nos orgulhamos da simplicidade e facilidade de uso do Aust.
      Escolha um dos planos abaixo.
    </p>

    <div id="plans">
      <div class="container">
        <div class="plan plan0">
          <div class="header">Iniciante</div>
          <div class="summary">
            <ul>
              <li>50 produtos</li>
              <li>5.000 acessos</li>
              <li><i>Sem vendas online</i></li>
            </ul>
          </div>
          <div class="price">
            <div class="only">Apenas</div>
            <div class="value">R$70</div>
          </div>
        </div>

        <div class="plan plan1">
          <div class="header">Básico</div>
          <div class="summary">
            <ul>
              <li>150 produtos</li>
              <li>10.000 acessos</li>
              <li>Sem comissões</li>
            </ul>
          </div>
          <div class="price">
            <div class="only">Apenas</div>
            <div class="value">R$199</div>
          </div>
        </div>

        <div class="plan plan2">
          <div class="header">Intermediário</div>
          <div class="summary">
            <ul>
              <li>350 produtos</li>
              <li>25.000 acessos</li>
              <li>Sem comissões</li>
            </ul>
          </div>

          <div class="price">
            <div class="only">Apenas</div>
            <div class="value">R$399</div>
          </div>
        </div>

        <div class="plan plan3">
          <div class="header">Avançado</div>
          <div class="summary">
            <ul>
              <li>850 produtos</li>
              <li>60.000 acessos</li>
              <li>Sem comissões</li>
            </ul>
          </div>
          <div class="price">
            <div class="only">Apenas</div>
            <div class="value">R$699</div>
          </div>
        </div>
      </div>
      <div class="free_plan">
        Também oferecemos o plano gratuito (10 produtos, 1.000
        acessos e sem vendas).
      </div>

      <div class="all_plans_summary">
        <p>
          Todos os planos incluem integração com PagSeguro,
          o melhor suporte gratuito por email,
          editor de temas,
          URLs amigáveis (excelente para SEO) e
          integração com Google Analytics.
        </p>
        <p>
          Até 5 imagens por mercadoria.
        </p>
        <p>
          Pagamentos mensais.
        </p>
      </div>

    </div>
  </div>
</section>


<section class="main pricing_mailchimp">
  <div class="main_container">
    <div class="mailchimp">
      <div class="mailchimp_container">
        <h2>Adquira seu convite</h2>
        <p>
          Temos
          <strong>vagas limitadas</strong>
          neste momento.
          Entre seu email para receber um convite para o
          <strong>Aust</strong>.
        </p>
        <%= render "marketing/shared/mailchimp" %>
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="main_container plans_questions">
    <div class="columns">
      <div class="half_column">
        <div class="container">
          <h2>
            Que tipos de pagamento você aceita?
          </h2>
          <p>
            Aceitamos MasterCard e Visa. O pacote anual inclui a opção de
            pagamento por boleto.
          </p>

          <h2>
            Você cobra por usuário?
          </h2>
          <p>
            Diferente da maioria das empresas, não cobramos por usuário.
            Cada pacote inclui um número ilimitado de usuários.
            R$ 199 significa R$ 199/mês, não importa
            se você tem 10 usuário ou 100 usuários.
          </p>

          <h2>
            Devo assinar um contrato de longo termo?
          </h2>
          <p>
            Não há contrato no pacotes mensais - você paga conforme usa e
            pode cancelar a qualquer momento sem multas. O pacote anual
            é um contrato de um ano que você pode renovar ou cancelar ao
            final de cada termo.
          </p>

          <h2>
            Posso integrar meu ERP ou transportadora?
          </h2>
          <p>
            Você pode integrar seu ERP no Aust facilmente.
            Entre em contato para uma análise.
            O Aust integra-se com cálculo de frete dos Correios. Caso precise
            usar outras transportadores e cartões de crédito, entre em
            contato.
          </p>

          <h2>
            O layout personalizado está incluído?
          </h2>
          <p>
            Não, você deve contratar seu designer favorito ou
            podemos indicar designers e consultores parceiros.
            Se preferir, o Aust possui modelos de layout que você pode usar
            gratuitamente.
          </p>
        </div>
      </div>

      <div class="half_column">
        <div class="container">
          <h2>
            E se eu precisar de mais espaço?
          </h2>
          <p>
            Nossos clientes dependem do Aust para ser o local onde controlam
            o estoque das suas empresas. Você pode comprar quanto espaço extra
            precisar, quando precisar, então você nunca vai precisar se
            preocupar sobre falta de espaço.
          </p>

          <h2>
            Você vende emails e domínio?
          </h2>
          <p>
            Nós não vendemos contas de email ou domínio. Este é um serviço
            que o seu designer ou consultor deve servi-lo
            (recomendamos o Google Apps, um dos melhores serviços do mundo).
          </p>

          <h2>
            Minha loja é segura?
          </h2>
          <p>
            Absolutamente. Usamos critografia SSL, a mesma segurança
            utilizada em sites de bancos. Você só precisa adquirir seu
            certificado digital.
          </p>

          <h2>
            Há alguma cobrança extra?
          </h2>
          <p>
            Você pode enviar até 1000 emails por mês gratuitamente,
            realizados em vendas e formulários de contato. O custo
            por envio adicional é de R$ 0,01.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
