input[type="text"], input[type="email"], input[type="password"] {
  border-radius: 3px;
}

form {

  input[type="text"], input[type="email"], input[type="password"] {
    height: 26px;
    width: 200px;
    font-size: 1.1em;
    padding: 0px 5px;
  }

  h2 {
    font-size: 1.3em;
    color: #111;
  }
}
