<div class="candidate_input_template">
  <div class="node candidate_input">
    <div class="box box_input">
      <input type="text" class="js_new_node_input" />
    </div>
  </div>
</div>

<div class="node_hover_template">
  <div class="node candidate js_candidate">
    <div class="box"></div>
    <a href="javascript: void(0)" class="plus js_add_node"></a>
  </div>
</div>

<div class="node_template">
  <div class="node js_node">
    <div class="box"></div>
  </div>
</div>
