<div class="candidate_input_template">
  <div class="node candidate_input">
    <div class="box box_input">
      <input type="text" class="js_new_node_input" />
    </div>
  </div>
</div>

<div class="template" name="node_options">
  <div class="node node_options">
    <div class="button create_subcategory">
      <%= link_to "Criar subcategoria", "" %>
    </div>
    <div class="button create_subcategory">
      <%= link_to "Excluir subcategoria", "" %>
    </div>
  </div>
</div>

<div class="node_template">
  <div class="node js_node">
    <div class="box"></div>
  </div>
</div>
