<tr class="<%= cycle('odd','even') %>">
  <td>
    <%= link_to banner.title,  edit_admin_banner_path(banner) %>
  </td>
  <td>
    <%=  image_tag(banner.image_url,height: "60px") %>
  </td>
  <td>
    <%= link_to image_tag("store/buttons/check_no.png"),
    admin_banner_path(banner), data: {confirm: "Tem certeza?"},
    method: :delete, title: "Excluir Banner #{banner.title}", :class => "erase"%>
  </td>
</tr>
