{{#each item in controller}}
  <div class="preview_iframe">
    <div class="details">
      Pré-visualizando tema.
    </div>
    <div class="iframe">
      {{previewIframe item}}
    </div>
  </div>
{{/each}}
