<li>
  <%= link_to "Departamentos",
    "javascript: void(0)",
    id: "departments_context_menu_trigger"
  %>
  <div name="taxonomy_menu" class="departments_context_menu js_departments_context_menu">
    <%= taxonomies_navigation(@taxonomies) %>
  </div>
</li>
