<header>
  <% if @commerce_website.pending_setup? %>
    <h1>Bem-vindo</h1>
  <% else %>
    <h1>Números</h1>
  <% end %>
</header>

<% if @commerce_website.pending_setup? %>
  <div class="main_container">
    <p>
      Este é o seu painel de controle. Nele você pode gerenciar mercadorias,
      marketing, colaboradores e outros aspectos da sua loja. Lembre-se de
      verificar constantemente se algum novo pedido foi feito.
    </p>
  </div>
  <div class="main_container section">
    <%= render "setup_warning" %>
  </div>
<% else %>
  <div class="main_container">
    <%= render "graphs" %>
  <% end %>
</div>
