<div class="cart">

  <% 5.times do |t| %>
  <div class="product">

    <div class="column description">
      Parafuso
    </div>

    <div class="column quantity">
      2
    </div>

    <div class="column total_price">
      R$ 13,12
    </div>
  </div>
  <% end %>

</div>
