<%= view_header %>

<header>
  <h1><%= t('.title') %></h1>
</header>

<div class="main_container">
  <p>
    <span class="color_legend processing"> </span>
    Não requerem atenção neste momento

    <span class="color_legend requires_attention"> </span>
    Requerem atenção

    <span class="color_legend approved"> </span>
    Pedidos concluídos com sucesso
  </p>

  <% if params[:environment] != "website" %>
    <a href="?environment=website">Pedidos no site</a>
  <% else %>
    Pedidos no site
  <% end %>
  <br />
  <% if params[:environment] != "offline" %>
    <a href="?environment=offline">Pedidos offline</a>
  <% else %>
    Pedidos offline
  <% end %>
  <br />
  <br />

  <div class="order_cards">
    <% @orders.each_slice(5) do |orders_line| %>
      <div class="orders_line">
      <% orders_line.each do |order| %>
        <%= render "order_card", order: order %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
