<footer class="global">
  {{#company}}
    {{{name}}} -

    {{#address}}
      {{{address_1}}},
      {{{address_2}}},
      {{{neighborhood}}},
      {{{city}}},
      {{{state}}},
      CEP {{{zipcode}}}
    {{/address}} -

    {{#contact}}
      {{{phone_1}}}, {{{phone_2}}}
    {{/contact}}

  {{/company}}
</footer>
