<div class="products_list">
  {{#produtos}}
    <div class="product product_{{{index}}}">
      <a href="{{{produto_href}}}" id="product_show_page_{{{id}}}">
        <div class="image">
          {{#imagem_de_capa}}
            <img src="{{{tamanho_pequeno_src}}}" height="127" />
          {{/imagem_de_capa}}
        </div>

        <div class="text">
          <div class="title">
            {{{nome}}}
          </div>
          <div class="price">
            {{{preco}}}
          </div>
        </div>
      </a>
    </div>
  {{/produtos}}
</div>
