<div id="header">
  <a href="{{{pagina_principal_href}}}">
    <div class="title">
      <h1>{{nome_da_empresa}}</h1>
      <p>Caring about your workplace.</p>
    </div>
  </a>

  <div class="user_and_cart_status">
    <div class="status_container">
      <div class="user_status">
        {{{status_de_login_do_cliente}}}.
      </div>

      <div class="cart_status">
        {{{status_do_carrinho}}}
      </div>
    </div>
  </div>
</div>

<div id="global">

  <div id="navigation">
    <ul>
      <li>
        <a href="{{{pagina_principal_href}}}" class="{{{pagina_principal_href_atualmente}}}">Principal</a>
      </li>

      {{#paginas}}
        <li>
          <a href="{{{pagina_href}}}" class="{{{pagina_atual}}}">{{{nome}}}</a>
        </li>
      {{/paginas}}

      {{#email_de_contato_cadastrado?}}
      <li>
        <a href="{{{pagina_de_contato_href}}}" class="{{{pagina_de_contato_href_atualmente}}}" id="contact_path">Contato</a>
      </li>
      {{/email_de_contato_cadastrado?}}
    </ul>
  </div>

  <div class="site_body">
    <div name="taxonomy_menu" class="taxonomy_menu vertical_taxonomy_menu">
      <h2>Categorias</h2>
      {{{categorias}}}
    </div>

    <div id="content">
      {{{ principal_banner_rotativo }}}

      <div id="main">
        <div class="main_container">
          {{{ avisos }}}
          {{{ pagina_atual }}}
        </div>
      </div>

      <div id="complementary_content">
        <div class="complementary_content_container">
          <div class="all_pages_right_ad_banners">
            {{{ banners_lateral_direita_em_todas_paginas }}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="global">
  {{#empresa}}
    {{{nome}}} -

    {{#endereco}}
      {{{endereco_1}}},
      {{{endereco_2}}},
      {{{bairro}}},
      {{{cidade}}},
      {{{estado}}},
      CEP {{{cep}}}
    {{/endereco}} -

    {{#contato}}
      {{{fone_1}}}, {{{fone_2}}}
    {{/contato}}

  {{/empresa}}
</footer>
