{{#produto}}
  <div class="product_details">
    <div class="product">
      <div class="title">
        <h1>{{{nome}}}</h1>
      </div>

      <div class="merchandising">
        <h3>{{{frase_de_efeito_emocional}}}</h3>
      </div>

      <div class="images">
        {{#imagem_de_capa}}
          <div class="cover">
            <a href="{{{tamanho_original_src}}}" class="fancybox" rel="product_images_group">
              <img src="{{{tamanho_medio_src}}}" width="300" />
            </a>
          </div>
        {{/imagem_de_capa}}

        <div class="small_images">
          {{#imagens}}
            <a href="{{{tamanho_original_src}}}" class="fancybox" rel="product_images_group">
              <img src="{{{tamanho_thumb_src}}}" class="image" />
            </a>
          {{/imagens}}
        </div>
      </div>

      <div class="text">
        <div class="description">
          {{{descricao}}}
        </div>

        <div class="price">
          {{#preco?}}
            Apenas {{{preco}}}
          {{/preco?}}
        </div>

        {{{botao_adicionar_ao_carrinho}}}
      </div>
    </div>
  </div>
{{/produto}}
