<%= render partial: "layouts/admin/nav_history",
           locals: {
             back_to: admin_inventory_item_entries_path(@item),
             text: "Voltar às entradas no estoque de #{@item.name}"
           } %>

<header>
  <h1><%= @entry.inventory_item.name %></h1>
  <p>Nova entrada no estoque</p>
</header>

<div class="main_container">

  <div class="form">
    <%= render 'form' %>
  </div>

</div>
