<span class="contact_fields">
  <%= contact.input :phone_1, as: 'string', label: t("activerecord.attributes.contact.phone_1") %>
  <%= contact.input :phone_2, as: 'string', label: t("activerecord.attributes.contact.phone_2")%>
  <%= contact.input :email, label: t("activerecord.attributes.contact.email") %>
</span>
