<% if has_images (@good) %>
<div class="main_container section">
  <h2>Imagens atuais</h2>

  <div class="thumbs_gallery">
    <% @good.good_images.each do |good_image| %>
      <div class="box image">
        <%= image_tag good_image.image.url(:medium), width: 60 %>
        <div class="cover">Capa</div>
        <div class="delete">
          <%= link_to "Excluir", "whatever" %>
        </div>
      </div>
      <% end %>
  </div>

</div>


<% end %>
