<div class="main_container section">
  <h2>Imagens atuais</h2>

  <div class="thumbs_gallery">
    <% images.each do |image| %>
      <div class="box image">
        <div class="image_container">
          <%= image_tag image.image.url(:thumb), height: 45 %>
        </div>

        <% if image.cover? %>
          <div class="cover">Capa</div>
        <% end %>

        <%= render partial: "shared/admin/image_management", locals: { image: image } %>
      </div>

    <% end %>
  </div>
</div>
