<div class="products_list">
  <% @entries.each do |entry| %>
     <div class="product">
       <%= image_tag entry.good.images.first.image.url(:medium), class:
           "image" unless entry.good.images.blank? %>
       <div class="text">
         <div class="title">
           <%= link_to entry.good.name, store_product_path(id: entry.id) %>
         </div>
         <div class="description">
           <%= entry.good.description %>
         </div>
         <div class="price">
           R$ 50
         </div>
       </div>
       
     </div>
  <% end %>
</div>
