<div class="products_list">
  <% @items.each do |item| %>
     <div class="product">
       <%= image_tag item.images.first.image.url(:medium), class:
             "image" unless item.images.blank? %>
       <div class="text">
         <div class="title">
           <%= link_to item.name, store_product_path(id: item.balances.first.id) %>
         </div>
         <div class="price">
           <%= item.price %>
         </div>
       </div>       
     </div>
  <% end %>
</div>
