<footer>
  <div class="container">
    Aust. Todos os direitos reservados
    - Pinheiro Machado, 146, Pedro Osório, RS
    -
    Dúvidas? <a href="mailto:contato@austapp.com">contato@austapp.com</a>
  </div>
</footer>
