<h1 class="index">
  Últimos itens
</h1>
<ul>
  <% @items.each do |item| %>
    <li class="buttons">
      <%= link_to item.full_name, mobile_admin_inventory_item_path(item) %>
    </li>
  <% end %>
</ul>
