<fieldset class="entry entry_1">
  <h2>
    Lote <span class="js_increment">1</span>:
  </h2>
  <div class="fields">
    <div class="input string optional">
      <label class="string optional control-label"
             for="inventory_item_entries_attributes_0_quantity">
        Quantidade
      </label>
      <span class="input_wrapper">
        <input class="string optional"
               id="inventory_item_entries_attributes_0_quantity"
               name="inventory_item[entries_attributes][0][quantity]"
               size="50" type="text">
      </span>
    </div>

    <div class="input string optional">
      <label class="string optional control-label"
             for="inventory_item_entries_attributes_0_cost_per_unit">
        Custo unitário
      </label>

      <span class="input_wrapper">
        <input class="string optional"
               id="inventory_item_entries_attributes_0_cost_per_unit"
               name="inventory_item[entries_attributes][0][cost_per_unit]"
               size="50"
               type="text">
      </span>
    </div>
  </div>

  <div class="explanations">
    <p>
      Um lote é um entrada no estoque deste item.
    </p>
  </div>
</fieldset>
<a href="#" class="js_clone_fieldset" data-fieldset-to-clone="entry"></a>
