<div class="js_tree_diagrams tree_diagrams">
  <div class="html_template">
    <div class="candidate_input_template">
      <div class="node candidate_input">
        <div class="box box_input">
          <input type="text" class="js_new_node_input" />
        </div>
      </div>
    </div>

    <div class="node_hover_template">
      <div class="node candidate js_candidate">
        <div class="box"></div>
        <a href="javascript: void(0)" class="plus js_add_node"></a>
      </div>
    </div>

    <div class="node_template">
      <div class="node js_node">
        <div class="box"></div>
      </div>
    </div>
  </div>

  <div class="js_tree_body" data-create-url="some_url">

    <div class="greatfather has_children">
      <div class="node js_node greatfather_node">
        <div class="box">Categorias de produtos</div>
      </div>

      <div class="child has_children">
        <div class="node js_node" data-node-id="3">
          <div class="box">Masculino</div>
        </div>

        <div class="child has_children">
          <div class="node js_node" data-node-id="40">
            <div class="box">Fardamentos</div>
          </div>

          <div class="child has_children">
            <div class="node js_node" data-node-id="20">
              <div class="box">Futebol</div>
            </div>

            <div class="child">
              <div class="node js_node" data-node-id="22">
                <div class="box">Grêmio</div>
              </div>
              <div class="node js_node" data-node-id="23">
                <div class="box">Flamengo</div>
              </div>
              <div class="node js_node" data-node-id="24">
                <div class="box">Fluminense</div>
              </div>
            </div>

            <div class="node js_node" data-node-id="21">
              <div class="box">Vôlei</div>
            </div>
          </div>

          <div class="node js_node" data-node-id="4">
            <div class="box">Meias</div>
          </div>

          <div class="child">
            <div class="node js_node" data-node-id="25">
              <div class="box">Esporte</div>
            </div>
            <div class="node js_node" data-node-id="26">
              <div class="box">Social</div>
            </div>

            <div class="child">
              <div class="node js_node" data-node-id="27">
                <div class="box">Social</div>
              </div>
            </div>
          </div>

          <div class="node js_node" data-node-id="5">
            <div class="box">Calças</div>
          </div>

          <div class="node js_node" data-node-id="50">
            <div class="box">Saias</div>
          </div>
        </div>
      </div>

      <div class="child has_children">
        <div class="node js_node" data-node-id="80">
          <div class="box">Whatever</div>
        </div>

        <div class="child has_children">
          <div class="node js_node" data-node-id="90">
            <div class="box">Camisa</div>
          </div>

          <div class="child has_children">
            <div class="node js_node" data-node-id="91">
              <div class="box">Camisa</div>
            </div>

            <div class="child">
              <div class="node js_node" data-node-id="92">
                <div class="box">Camisa</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="child has_children">
        <div class="node js_node" data-node-id="8">
          <div class="box">Femininas</div>
        </div>

        <div class="child">
          <div class="node js_node" data-node-id="9">
            <div class="box">Camisa</div>
          </div>
          <div class="node js_node" data-node-id="10">
            <div class="box">Camisetas</div>
          </div>
        </div>
      </div>

      <div class="child">
        <div class="node js_node" data-node-id="81">
          <div class="box">Canoagem</div>
        </div>
      </div>

      <div class="hoverable_end"></div>
    </div>
  </div>
</div>
