<ul>
  <li><%= link_to "Principal", root_path %></li>
  <li><%= link_to "Produtos", root_path %></li>
  <li><%= link_to "Carrinho de compras", root_path %></li>
  <li><%= link_to "Contato", root_path %></li>
</ul>
