<% content_for :title, "E-commerce para Consultores & Designers" %>
<%= render "marketing/shared/header" %>

<div id="merchan" class="consultancy">
  <div class="container">
    <div class="title">
      <div class="title_prefix">Para</div>
      <h1>Consultores & Designers</h1>
      <p>
        Você pode finalmente entrar e dominar no mercado de
        e-commerce sem as limitações do conhecimento técnico.
        Bem-vindo ao Aust.
      </p>
    </div>
  </div>
</div>

<section class="main full_colored pre_main intro">
  <div class="main_container">
    <p>
      Construa um negócio sólido com o Aust. Assista o vídeo mais abaixo.
    </p>
  </div>
</section>

<section class="main">
  <div class="main_container">
    <h2>Novos mercados</h2>

    <p>
      <strong>Consultores</strong>
      e
      <strong>designers</strong>
      não possuem conhecimento técnico
      para entrar de forma sólida
      no próspero mercado de e-commerce.
      Servidores, linguagens de programação e
      dores de cabeça.
    </p>
    <p>
      Com isso, empresas de TI dominam
      o mercado, mesmo o lado humano não sendo seu forte.
      Este mercado é enorme e mal atendido,
      apenas esperando por quem realmente
      quer focar em pessoas.
    </p>
    <p>
      Nós vamos mudar isto.
      Prospecte e foque nos seus clientes
      enquanto o
      <strong>Aust</strong>
      cuida da parte pesada. Assista o vídeo abaixo e saiba mais.
    </p>

    <!--
    <p>
      Algumas funcionalidades do Aust:
    </p>

    <ul>
      <li>
        <strong>Controle de estoque:</strong>
        gerencie entradas e saídas de itens do estoque, lotes, imagens e mais
      </li>
      <li>
        <strong>Gestão de layouts:</strong>
        com o editor de temas, você tem controle
        total sobre o design da sua loja
      </li>
      <li>
        <strong>Gestão de clientes:</strong>
        mantenha um relacionamento com compradores da loja
      </li>
      <li>
        <strong>Gestão de marketing digital:</strong>
        edite layouts, banners, páginas e mais
      </li>
      <li>
        <strong>Ponto de venda:</strong>
        seu cliente pode usar o software
        de Ponto de Venda do Aust no balcão de venda
      </li>
      <li>
        <strong>Integração com seu ERP:</strong>
        possui API REST para você integrar com o ERP existente do seu cliente
      </li>
    </ul>
    -->
  </div>
</section>

<section class="main full_colored video">
  <div class="main_container">
    <h2>Editor de temas</h2>

    <p>
      Você pode desenvolver o layout das suas lojas você mesmo com um
      moderno editor HTML, CSS e Javascript para diminuir
      seus custos de produção e aumentar sua margem de lucro.
    </p>
    <p>
      Veja o vídeo abaixo.
    </p>

    <div class="video">
      <div class="container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/MzDMwY8elYM?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="main_container">
    <h2>Painel de Inteligência</h2>

    <p>
      Apenas <strong>consultores</strong>
      e
      <strong>designers</strong>
      têm acesso a uma tela especial onde podem ver
      informações vitais sobre todas as lojas dos seus cliente
      em um só lugar.
    </p>

    <p>
      As reclamações de uma das lojas estão aumentando?
      Fature mais ao oferecer soluções ao seu cliente.
      Um produto vital está quase em falta no estoque?
      Avise-o sobre a necessidade da compra. Veja como abaixo.
    </p>

    <div class="consultor_screen feature_image">
      <%= link_to(image_tag("marketing/consultores/consultor_screen.jpg", size: "764x430"), asset_url("marketing/consultores/consultor_screen.jpg"), target: "_image") %>
    </div>

    <p>
      Com o Painel de Inteligência, você pode oferecer um leque maior de
      serviços ao seu cliente.
    </p>
  </div>
</section>


<section class="main full_colored pos">
  <div class="main_container">
    <h2>Ponto de Venda integrado</h2>

    <p>
      Seu cliente possui uma loja física? Ele pode usar o software
      de Ponto de Venda do Aust. Cada venda feita no balcão
      subtrai um item do estoque da loja online.
      Se a internet cair,
      opera offline sem parar.
    </p>

    <div class="consultor_screen feature_image">
      <%= link_to(image_tag("marketing/consultores/point_of_sale.png", size: "699x285"), asset_url("marketing/consultores/point_of_sale.png"), target: "_image") %>
    </div>
  </div>
</section>

<section class="main full_colored about_erp">
  <div class="main_container">
    <h2>Seu ERP</h2>

    <p>
      Você é um consultor e seu cliente utiliza
      um ERP como SAP, Protheus e CIGAM? Você pode
      oferecer serviços de e-commerce ao seu cliente
      conectando o controle de estoque do seu software com
      o Aust através de uma API REST simples
      e fácil de usar. Entre em contato para uma análise e parceria.
    </p>
  </div>
</section>

<section class="main full_colored how_it_works">
  <div class="main_container">
    <h2>Como funciona</h2>

    <p>
      Após se tornar parceiro do Aust,
      comece conversando com seu cliente e identificando
      suas necessidades. Então crie uma conta no Aust para seu cliente
      e administre a nova loja.
    </p>

    <p>
      Por exemplo, um de nossos parceiros recebe do seu cliente
      R$ 1.500,00 pela criação do layout da loja
      e mais R$ 730,00 <strong>mensais</strong> para
      cuidar de banners e gerenciar sua página no Facebook. 3 ou 4 clientes
      e você já é uma empresa de consultoria.
    </p>
    <p>
      Para aumentar seu faturamento,
      ofereça mais serviços
      como
      gerenciar campanhas do AdWords,
      email marketing e
      consultoria empresarial.
    </p>
  </div>
</section>

<section class="main signup">
  <div class="main_container">
    <h2>Inscreva-se para receber um convite</h2>

    <p>
      Entre seu email e você receberá
      <strong>um convite</strong>
      para começar a usar o Aust.
    </p>

    <div class="mailchimp">
      <%= render "marketing/shared/mailchimp_consultants" %>
    </div>

    <p>
      Nosso objetivo como serviço
      de e-commerce
      é trabalhar junto com consultores e designers,
      estudando suas necessidades e melhorando o Aust ao longo do
      caminho. Queremos que nossos parceiros cresçam conosco.
    </p>

  </div>
</section>
