input[type='text'], input[type='password'], input[type='email'], textarea {
  border: 1px solid #bbb;
  height: 18px;
}

form {
  label.text, label.password, label.email, label.textarea {
    width: 100px;
    display: inline-block;
  }
}

.sign_in {
  form {
    label.text, label.password, label.email, label.textarea {
      width: auto;
      margin-right: 3px;
    }
  }
  .email_block, .passw_block {
    margin: 0 0 25px 0;

    h2 {
      margin: 0 0 10px 0;
    }

    .fields {
      margin-left: 15px;

      .field { margin: 0 0 5px 0; }

      label.has_password, div.input.password {
        display: inline;
      }
    }
  }
}
