$navigation-background-color: lighten(#e0f1fc, 3%);

* { margin: 0; padding: 0; }

body {
  background: #eee;
  margin: 15px 0;
  font-size: 76%;
  font-family: "Lucida Grande", "Lucida Sans", "Verdana", sans-serif;
}

#header {
  width: 940px;
  margin: 10px auto;
  display: table;
  clear: both;

  .title, .cart_status { float: left; width: 50%; }
  .title {
    h1 { font-size: 3em; margin: 0; }
    p { color: #444; font-size: 0.9em; margin: 0 0 5px 0; }
  }
  .cart_status .background {
    margin: 18px 0 0 0;
    padding: 5px 10px 5px 32px;
    font-size: 0.9em;
    color: #555;
    float: right;
    display: table;
    background: image-url('store/icons/top_empty_cart.png') 7px 4px #f6f6f6 no-repeat;
    border-top: 1px solid white;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.07);
    border-radius: 50px;
  }
}

#global {
  width: 960px;
  margin: 0 auto;
  background: $navigation-background-color;
  display: table;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  .global_container {
    margin: 0px;
    display: table;

    #main_tabs {
      min-height: 3px;
      background-color: $navigation-background-color;
    }
  }
}

#navigation {
  width: 960px;
  background: $navigation-background-color;
  display: table;

  ul {
    padding: 0 0 10px 0; list-style: none;

    li {
      margin: 0 0 0 0;
      float: left;

      a { 
        color: #165c85; text-decoration: none; 
        padding: 7px 13px;
        display: table;

        &:hover {
          background: darken($navigation-background-color, 3%); 
          border-radius: 2px;
        }
      }
    }
  }
}

#main {
  float: left;
  width: 740px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: white;

  .main_container {
    margin: 10px;
    display: table;
    width: 720px;
  }
}

#complementary_content {
  width: 200px;
  padding: 0 0 0 10px;
  float: left;

  .complementary_content_container {
    margin: 10px 0 0 0;
    display: table;
  }
}

.products_list {
  .product {
    float: left;
    margin: 0 10px 15px 0;
    background: #f1f1f1; 
    width: 170px;
    border-radius: 3px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.10);


    .image {
      background: #f2f2f2;
      width: 170px;
      height: 127px;
      margin: 0px auto;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.0);
    }

    .text {
      width: 160px;
      margin: 5px auto;
      text-align: center;

      .title {
        font-weight: bold;
      }

      .description { font-size: 0.9em; }
      .price { color: green; margin: 5px 0 0 0; }
    }
  }
}
