<ul class="content_tabs">
  <li <%= current_tab(:email)         %>>Email</li>
  <li <%= current_tab(:token)         %>>Token</li>
  <li <%= current_tab(:notifications) %>>Notificações</li>
  <li <%= current_tab(:success)       %>>Sucesso</li>
</ul>
