body.store_cart.show {
  .cart {
    width: 720px;

    .cart_table {
      background: #f9f9f9;
      display: table;
    }

    .header, .products, .product, .items_total, .shipping_contiguration {
      display: table;
      width: 720px;
    }

    .header {
      background: red;
      font-weight: bold;
    }

    .column {
      padding: 6px 6px;
      float: left;
      text-align: center;

      &.description { width: 440px; text-align: left; }
      &.quantity { width: 90px; }
      &.total_price { width: 70px; }
      &.options { width: 70px; }
    }

    .product {
      background: #fbfbfb;
      border-top: 1px solid #fdfdfd;
      border-bottom: 1px solid #f9f9f9;

      input[type="text"] {
        width: 30px;
        height: 16px;
        text-align: center;
      }

      .column {
        padding-top: 8px;

        &.quantity { padding-top: 6px; }
      }
    }

    .items_total {
      background: lighten(green, 65%);
    }

    .shipping_configuration {
      padding: 4px 0 0 0;

      .shipping_label { float: left; width: 60px }
      .options {
        float: left; width: 200px;

        .service_selection {
          width: 100%;
          padding: 0 5px 5px 5px;
          text-align: center;
          border-bottom: 1px solid #f7f7f7;
        }

        .zipcode {
          width: 100%;
          padding: 5px;
          text-align: center;
          border-top: 1px solid #fdfdfd;
        }
      }

      .summary {
        width: 230px;
        padding: 15px 0 0 0;
        text-align: center;
        float: right;
      }
    }

  }

  .actions {
    display: block;
    margin: 15px 0 0 0;

    .line {
      width: 100%;
      margin: 0 0 20px 0;
      display: table;
    }

    .action_link {
      width: 50%;
      text-align: center;
      float: left;
    }

    .checkout {
      width: 100%;
      text-align: right;

      a#checkout_button {
        margin: 0 60px 0 0;
        width: 175px;
        height: 34px;
        float: right;
        display: table;
        background-image: image-url("store/buttons/button_done_buying.png");

        &:hover {
          background-position: 0 -34px;
        }
      }
    }
  }
}
