<div class="entry">
  <h2>Lote 1:</h2>
  <%= entries.input :quantity %>
  <%= entries.input :cost_per_unit %>
</div>
<div class="js_add_entry">
  <%= small_button new_admin_inventory_item_path,
        text: "Adicionar lote",
        image: 'admin/icons/plus_16.png',
        class: "round_icon" %>
</div>
