<p>
  <%= image_tag "admin/instructions/missing_categories.jpg", align: "right" %>
  Para cadastrar mercadorias, precisamos criar algumas categorias. Se você
  possui uma loja de roupas, isto significa categorias como Calças, Camisas e
  Blusas.
</p>
<p>
  Categorias agrupam suas mercadorias e o ajudam a saber como estão as vendas.
  Clique no botão abaixo para começar.
</p>
<p>
  <center>
    <%= link_to "Criar categorias", admin_taxonomies_path, class: "btn call_for_action big" %>
  </center>
</p>
