<p>
  Você não possui nada cadastrado ainda.
  Clique no <strong>botão abaixo</strong> para criar seu primeiro item.
</p>
<p>
  <center>
    <%= small_button "Adicionar item",
      new_admin_inventory_item_path,
      image: 'admin/icons/plus_16.png',
      id: "add_item"
    %>
  </center>
</p>
