<% entry = @inventory_entries.first %>

<p class="js_this_entry_status_on_sale">
  Este item possui apenas uma entrada no estoque (um lote)
  sendo vendido atualmente. Possui ainda <%= entry.quantity %>
  unidades em estoque.
</p>

<p class="js_this_entry_status_not_on_sale" style="display: none">
  Este item possui um lote no estoque, mas ele não está à venda
  neste momento. Ainda há <%= entry.quantity %> unidades no estoque. Recomece
  a venda deste item no botão abaixo.
</p>

<div>
  <%= small_button "javascript: void(0)",
    text: "Parar a venda deste item",
    id: "stop_selling_item",
    data: {
      on_sale: (entry.on_sale? ? "1" : "0"),
      url:     admin_inventory_item_entry_url(item_id: @item, id: entry.id),
      on_sale_text: "Parar a venda deste item",
      not_on_sale_text: "Começar a venda deste item"
    }
  %>
</div>

<br clear="both" />
<br clear="both" />
<%= small_button new_admin_inventory_item_entry_path(@item),
      text: "Nova entrada no estoque",
      image: 'admin/icons/plus_16.png',
      class: "round_icon"
%>
