<p>
  Este item não possui entradas de lotes no estoque. Cada lote possui
  quantidade e custo. Cadastre uma nova entrada no estoque
  para começar a venda deste produto.
</p>

<%= small_button new_admin_inventory_item_entry_path(@item),
      text: "Nova entrada no estoque",
      image: 'admin/icons/plus_16.png',
      class: "round_icon"
%>
