<%= render partial: "layouts/admin/nav_history",
           locals: { back_to: admin_inventory_items_path } %>

<header>
  <h1><%= @item.name %></h1>
</header>

<div class="main_container">
  <%= render partial: 'form' %>
</div>
