<%= render partial: "layouts/admin/nav_history",
           locals: {
             back_to: new_item_or_entry_admin_inventory_items_path,
             text: "Voltar à busca por itens"
           } %>

<header>
  <h1>Crie um novo item</h1>
</header>

<div class="main_container">
  <div class="new_item_or_entries form">

    <%= simple_form_for([:admin, @item]) do |f| %>
      <%= render 'form', item: f %>
    <% end %>

  </div>
</div>
