<%= view_header back_to: admin_inventory_items_path,
                back_text: "Voltar à listagem de itens" %>

<header>
  <h1>Adicionando mercadoria</h1>
</header>

<div class="main_container">
  <div class="new_item_or_entries form">

    <%= simple_form_for([:admin, @item], html: { multipart: true }) do |f| %>
      <%= render 'form', item: f %>
    <% end %>

  </div>
</div>
