<div class="index_header with_search">
  <div class="buttons">
    <%= small_button "Novo campo personalizado",
      new_admin_inventory_custom_field_path,
      image: 'admin/icons/plus_16.png',
      id: "add_custom_field"
    %>
  </div>
</div>
