<%= view_header %>

<header>
  <h1>Novo campo personalizado</h1>
</header>

<div class="main_container">
  <p>
    Crie um novo campo que aparecerá no formulário de mercadorias.
  </p>

  <%= render "form" %>
</div>
