input
  &.ember-text-field
    font-size: 1.0em
    width: 60%
    height: 40px
    border-radius: 7px
    border: 1px solid #ddd
    padding: 0 5px

  &.search
    width: 98%

div.input
  display: table
  width: 100%
  margin: 0 0 4px 0

  &.actions
    float: right
    width: auto

  label
    width: 26%
    padding: 12px 3px 0 0
    text-align: right
    display: table
    float: left

  input.ember-text-field
    display: table
    float: left

  button
    margin: 15px 0 0 0
    padding: 4px
