$nav-background-color: rgba(65, 131, 196, 0.4)

table
  border-collapse: separate
  border-spacing: 0
  width: 100%
  text-align: left


  th, td
    padding: 7px 7px

table.listing
  &.search_result
    margin-bottom: 15px

  tr td
    border-top: 1px solid #efefef
    background-color: #fafafa

    &.shortcut_image
      width: 50px
      text-align: right

  thead th
    background: $nav-background-color
    color: #eee

table.carts
  td.price
    width: 100px
  tr.cart_total td
    background-color: lighten(green, 67%)
    border-bottom: 1px solid lighten(green, 60%)
.search_progress
  padding: 10px
  color: brown

.keyboard_selector
  font-size: 0.8em
