<h1>Painel de controle</h1>

<div class="main_container">
  <h2>Números</h2>
  <div class="graphs">
    
    <div id="pie_chart" class="graph">
      
    </div><!-- / -->

    <div id="pie_chart_two" class="graph">
      
    </div><!-- / -->

    <div id="pie_chart_three" class="graph">
      
    </div><!-- / -->
  </div>
  <h2>Últimos produtos cadastrados</h2>
  <p>Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

  <h2></h2>
</div>  