<nav>
  <ul>
    <li>
      <a {{action home href=true}}>Principal</a>
    </li>
  </ul>
</nav>

<div class="application">
  {{outlet state_navigation}}
  <div class="body">
    {{outlet body}}
  </div>
</div>
