body {
  background: white
  margin: 15px 0;
  font-size: 76%;
  font-family: "Helvetica Neue", "Lucida Grande", "Lucida Sans", "Verdana", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;

  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);

  -webkit-text-stroke: 1px transparent;
  -moz-text-stroke: 1px transparent;
  -ms-text-stroke: 1px transparent;
  text-stroke: 1px transparent;
}

h1 {
  color: #165c85;
}

h2 {
  color: #999;
}

a {
  color: #165c85;
  text-decoration: none;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}
  a:hover {
    background-color: #f9f9f9;
  }

h1, h2, h3, h4, p {
  margin-bottom: 15px;
}

h1 {
  font-size: 2.5em;
  font-weight: 200;
}

h2 {
  font-size: 2.0em;
  font-weight: normal;
}

p {
  line-height: 1.6em;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #165c85;
}

#header {
  width: 940px;
  margin: 10px auto;
  display: table;
  clear: both;
}
  #header .user_and_cart_status .user_status {
    color: #666;
  }
    #header .user_and_cart_status .cart_status a {
      text-decoration: none;
    }

  #header .title {
    float: left;
    width: 50%;
  }
  #header .title h1 {
    font-size: 4em;
    margin: 0;
  }
  #header .title p {
    font-size: 1em;
    margin: 0 0 5px 0;
    color: #666
  }

  #header .user_and_cart_status {
    float: right;
    width: 220px;
  }

  #header .user_and_cart_status .status_container {
    display: table;
    float: right;
  }

  #header .user_and_cart_status .user_status {
    display: table;
    margin: 0 auto;
    font-size: 0.9em;
  }

  #header .user_and_cart_status .cart_status {
    margin: 3px 0 0 0;
    padding: 5px 10px 5px 32px;
    font-size: 0.9em;
    color: #555;
    float: right;
    display: table;
    background: url('/assets/store/icons/top_empty_cart.png') 7px 4px no-repeat;
  }

#global {
  width: 960px;
  margin: 0 auto;
  display: table;
  border-radius: 4px;
  overflow: hidden;
}

  #global .global_container {
    margin: 0px;
    display: table;
  }

    #global #main_tabs {
      min-height: 3px;
    }

#navigation {
  width: 960px;
  display: table;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

  #navigation ul {
    padding: 0 0 10px 0;
    list-style: none;
  }

    #navigation ul li {
      margin: 0 0 0 0;
      float: left;
    }

      #navigation ul li > a {
        color: #165c85;
        text-decoration: none;
        padding: 7px 13px;
        display: table;
      }

      #navigation ul li > a.hover,
      #navigation ul li > a:hover {
        background: #e0f1fc;
        border-radius: 2px;
      }

.departments_context_menu {
  display: none;
  position: absolute;
  background: white;
  padding: 15px;
  min-width: 150px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  z-index: 9999;
}

  .departments_context_menu .node {
    padding: 4px 0;
  }

  .departments_context_menu .node a {
    text-decoration: none;
  }

  .departments_context_menu .node a:hover {
    text-decoration: underline;
  }

  .departments_context_menu .taxonomy_level_2 {
    margin-left: 10px;
  }

#main {
  float: left;
  width: 740px;
  background: white;
}

  #main .main_container {
    margin: 10px;
    display: table;
    width: 720px;
  }

#complementary_content {
  width: 200px;
  padding: 0 0 0 10px;
  float: left;
}

  #complementary_content .complementary_content_container {
    margin: 10px 0 0 0;
    display: table;
  }

.products_list { }
  .products_list .product {
    float:         left;
    margin:        0 10px 15px 0;
    background:    #f9f9f9;
    width:         170px;
  }

  .products_list .product  .image {
    width:      170px;
    height:     127px;
    margin:     0px auto;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.0);
  }

  .products_list .product .text {
    width: 160px;
    margin: 5px auto;
    text-align: center;
  }

  .products_list .product .text .title {
    font-weight: bold;
  }

  .products_list .product .description {
    font-size: 0.9em;
  }

  .products_list .product .price {
    color: green;
    margin: 5px 0 0 0;
  }

.product_details { }

    .product_details .product .merchandising {
      margin-bottom: 30px;
    }
    .product_details .product .merchandising h3 {
      font-size: 1.2em;
      color: #888;
    }
    .product_details .product .images {
      float: left;
      width: 300px;

    }
    .product_details .product .cover .image {
      width: 300px;
      margin: 5px;
      border-bottom: 2px lighten(#888, 40%) solid;
      padding: 0 0 50px 0;

    }

    .product_details .product .small_images {
      margin-left: 15px;

    }

    .product_details .product .small_image .image {
      margin: 5px;

    }

    .product_details .product .text {
      float: left;
      width: 400px;

    }

    .product_details .product .description {
      margin: 10px 5px 40px 35px;
      font-size: 1.1em;

    }

    .product_details .product .price {
      float: left;
      color: green;
      margin: 5px 0px 0 35px;
      font-size: 1.2em;

    }

    .product_details .product a.button {
      padding: 10px 15px 10px 37px;
      font-size: 1.3em;
      color: #555;
      float: right;
      display: table;
      background: url('/assets/store/icons/top_empty_cart.png') 7px 11px no-repeat;
      background-color: #f6f6f6;
      text-decoration: none;
      -o-transition: .5s;
      -ms-transition: .5s;
      -moz-transition: .5s;
      -webkit-transition: .5s;
      transition: .5s;
    }

      .product_details .product a.button:hover {
        background-color: #efefef;
      }

.warning_box {
  color: red;
  font-weight: bold;
}
