/* #encoding: utf-8 */
/* Buttons */
$gradient-top: #ebebeb;
$gradient-bottom: #ddd;
$red-gradient-top: darken(red, 6%);
$red-gradient-bottom: darken(red, 17%);

a.css_button_anchor {
  display: inline-block;
  float: left;
  min-height: 20px;
  text-decoration: none;
  outline: none;

  overflow: hidden;
  border-radius: 50px;
  border-top: 0px solid #fbfbfb;
  border-bottom: 0px solid #ddd;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.02);

  background: $gradient-top;

  &.red {
    color: white;
    background: $red-gradient-top;


    &:hover {
      background: lighten($red-gradient-top, 3%);
      text-decoration: none;
    }
    .css_button {
      text-shadow: 1px 1px 0px #555;
      color: white;
    }
  }

  &.round_icon .css_button {
    background-position: 7px center;
  }

  .css_button {
    display: block;
    color: #444;
    min-height: 20px;
    min-width: 33px;
    font-size: 1.0em;
    font-weight: normal;
    text-shadow: 1px 1px 2px white;
    background-repeat: no-repeat;
    background-position: 6px center;

    &.has_image_only {
      background-position: center 2px;
    }
    .css_button_container {
      margin: 0px auto 5px auto;
      padding-left: 11px;
      display: inline-block;
      min-width: 0px;
      height: 23px;
      &.text {
        top: 6px;
        position: relative;
        padding-right: 11px;
      }
    }

    &.has_image .css_button_container, &.has_image_only .css_button_container {
      margin: 0px 0px 5px 28px;
      padding-left: 0px;
      height: 23px;
      display: inline-block;
    }
  }
  &:hover {
    background: darken($gradient-top, 3%);
    text-decoration: none;
  }
}

#view_nav a.css_button_anchor {
  top: -4px;
  position: relative;
}

a.css_button_anchor.small {
  .css_button {
    font-size: 1em;
    &.has_image .css_button_container.text {
    }
  }
}

a.css_button_anchor.big {
  height: 30px;
  width: 200px;
  margin: 0 auto !important;
  text-align: center;
  display: inline-block;
  float: none;

  .customers {
    float: right;
  }

  .css_button {
    height: 30px;
    font-size: 1.1em;
    min-width: 100%;
    background-position: 9px 3px !important;
    .css_button_container {
      margin: 0 auto;
      width: 150px;
      padding: 0;
    }
    &.has_image .css_button_container {
      margin: 0px 5px 0px 33px;
      position: relative;
      top: 6px;
    }
  }
}
a.css_button_anchor.round.big .css_button {
  background-position: 5px 3px !important;
  //.css_button_container { margin-left: 38px; }
}
