#context_menu_placeholder {
  display: none;
  position: absolute;

  .context_menu_placeholder_container {
    display: table
  }

  .context_menu {
    position: absolute;
    bottom: 80%;
    width: 175px;
    background: #fbfbfb;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    border: 8px solid rgba(1, 1, 1, 0.1);
    z-index: 9999;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    .context_menu_container {
      margin: 0px 0px;
      width: 100%;
      display: table;
    }

    .button {
      margin: 10px auto;
      display: table;
      text-align: center;

      a.css_button_anchor { width: 145px; }
      .css_button { margin: 0 auto; }
    }
  }
}
