body {
  font-size: 76%;
  font-family: "Lucida Grande", "Lucida Sans", "Verdana", sans-serif;
}

.notice {
  color: green;
  font-weight: bold;
}

.alert {
  color: red;
  font-weight: bold;
}

ul { margin-left: 0px; padding-left: 20px; }
