input, textarea, select {
  font-size: 1em;
  color: #333;
}
input[type="file"] {
  font-size: 0.9em;
}

div.input {
  display: table;
  margin: 0 0 10px 0;

  label {
    display: block;
    margin: 0 0 3px 0;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='url'],
  textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 5px;
    width: 300px;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='url'] {
    height: 25px
  }

  textarea {
    height: 70px;
  }

  span.hint {
    display: table;
    font-size: 0.9em;
    color: #777;
    margin: 3px 0 0 0;
  }

  &.hidden {
    margin: 0;
  }
}

form {
  span.success {
    color: green;
    display: block;
    font-size: 0.9em;
  }

  div.error_explanation {
    color: red;
  }

  div.field_with_errors {

    label { color: red; }
    span.error {
      color: red;
      margin: 5px 0 10px 3px;
      display: block;
      font-size: 0.9em;
    }
  }
}
