.thumbs_gallery {
  display: table;

  div.box {
    display: block;
    position: relative;
    width: 60px;
    height: 45px;
    overflow: hidden;
    float: left;
    margin: 0 5px 4px 0;
    border-radius: 3px;

    &.image{
      .delete, .cover {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        position: absolute;
        padding: 1px 3px;
        bottom: 3px;
        right: 0;
        font-size: 0.7em;
        text-transform: uppercase;
        border-radius: 3px;
      }

      .cover {
        background: rgba(0, 0, 0, 0.5);
        color: white;
      }

      .delete {
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        padding: 1px 3px;
        bottom: 35%;
        width: 54px;
        text-align: center;
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 0;
        display: none;

        a { color: red; }
        a { text-decoration: none; }
      }
    }

    img {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}

.main_container.section {
  .thumbs_gallery div.box.add {
    background: image-url("admin/icons/gallery_add.png") center center no-repeat #f8f8f8;
    opacity: 0.7;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }

  a:hover div.box.add {
    opacity: 1;
  }
}
