table.listing {
  padding: 0 0 0 0;
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;

  th, td {
    padding: 10px;
  }

  thead {
    background: #f1f1f1;

    th {
      text-align: left;
      margin: 0;
    }

  }

  tbody {
    tr.odd { background-color: #fbfbfb; }
    tr.even { background-color: #f8f8f8; }
  }
}