<div class="html_template context_menu_template">
  <div class="context_menu">
    <div class="context_menu_container">
      <div class="button">
        <%= small_button admin_inventory_item_image_path(@item, image, set_cover: true), text: "Definir como capa", method: :put %>
      </div>

      <div class="button delete">
        <%= small_button admin_inventory_item_image_path(@item, image), text: "Excluir", class: "red", method: :delete %>
      </div>
    </div>
  </div>
</div>
