<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: admin_inventory_goods_path
           } %>

<header>
  <h1>Crie um bem</h1>
</header>

<div class="main_container">

  <div class="form">
    <%= render 'form' %>
  </div>

</div>