<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: admin_inventory_goods_path
           } %>


<div class="main_container">

  <div class="search_existent_good">
    <div class="input">
      <h1>Digite o nome do item a ser acrescentado</h1>

      <input type="text" id="search_goods" class="search" />

      <span class="hint">
        Se o bem ou mercadoria já existe, você só precisa cadastrar
        a quantidade que está entrando no estoque.
      </span>
      <div class="add_new_good_button">
        <%= small_button new_admin_inventory_good_path,
              :text => "Criar novo bem", 
              :image => 'admin/icons/plus_16.png',
              :"data-ajax" => new_admin_inventory_good_path,
              :"data-complete" => "#main" %>
      </div>
    </div>

    <div class="search_results">
      
    </div>
  </div>

  <div class="form">
    <% # render 'form' %>
  </div>

</div>