{{#product}}
  <div class="product_details">
    <div class="product">
      <div class="title">
        <h1>{{{name}}}</h1>
      </div>

      <div class="merchandising">
        <h3>{{{merchandising}}}</h3>
      </div>

      <div class="images">
        {{#cover_image}}
          <div class="cover">
            <a href="{{{big_image}}}" class="fancybox" rel="product_images_group">
              <img src="{{{src}}}" width="300" />
            </a>
          </div>
        {{/cover_image}}

        <div class="small_images">
          {{#images}}
            <a href="{{{src_natural}}}" class="fancybox" rel="product_images_group">
              <img src="{{{src_thumb}}}" class="image" />
            </a>
          {{/images}}
        </div>
      </div>

      <div class="text">
        <div class="description">
          {{{description}}}
        </div>

        <div class="price">
          {{#price?}}
            Apenas {{{price}}}
          {{/price?}}
        </div>

        {{{add_to_cart_btn}}}
      </div>
    </div>
  </div>
{{/product}}
