@media screen and (device-width: 720px)
  html
    zoom: 79%

a
  color: #000
  text-decoration: none

#global
  background: #fafafa
  margin: 0 auto 0 auto
  width: 300px
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1)

  display: table
  background: white

  .global_container
    display: table
    width: 300px

#main
  display: block

  section
    margin: 15px

  & > ul
    display: block
    li
      padding: 10px
      border-bottom: 1px solid #eee

    li:last-child
      border-bottom: 0
