<div class="global">
  <div class="global_container">
    <nav class="navigation">
      <div class="navigation_padding">
        <ul>
          <li>
            <a href="#" {{action "newCart"}} class="new_cart">Novo pedido</a>
          </li>
          {{#if cartHasItems}}
          <li>
            {{#link-to "carts.new" class="current_cart"}}
              Pedido atual
              <div class="global_cart_status">
                {{cartStatusMessage}}
              </div>
            {{/link-to}}
          </li>
          {{/if}}
          <li>
            {{#link-to "orders.index" class="all_orders"}}Pedidos{{/link-to}}
          </li>
          <li>
            <a {{bind-attr href="signOutPath"}} class="log_out">Sair</a>
          </li>
        </ul>

      </div>
    </nav>
    <section class="main_content">
      <div id="main">
        <div class="main_container">
          {{outlet}}
        </div>
      </div>
    </section>
  </div>
</div>
