<!DOCTYPE html>
<html>
<head>
  <title>Super Admin</title>
  <%= stylesheet_link_tag    "superadmin/application_manifest", :media => "all" %>
  <%= javascript_include_tag "superadmin/application_manifest" %>
  <%= airbrake_javascript_notifier %>
  <%= csrf_meta_tags %>
</head>
<body>

</body>
</html>
